apiVersion: v1
kind: Secret
metadata:
  name: env-secrets
type: Opaque
data:
  JWT_SECRET: JWT_SECRET
  SCALEWAY_ACCESS_KEY: SCALEWAY_ACCESS_KEY
  SCALEWAY_ACCESS_KEY_ID: SCALEWAY_ACCESS_KEY_ID
  SCALEWAY_BUCKET_URL: SCALEWAY_BUCKET_URL
  SCALEWAY_IA_API_URL: SCALEWAY_IA_API_URL
  MONGO_URI: mongodb://<user>:<password>@mongodb-svc.mongodb.svc.cluster.local:27017/revisionAI?replicaSet=mongodb&authSource=admin
  RESEND_API_KEY: RESEND_API_KEY
  STRIPE_PUBLIC_KEY: STRIPE_PUBLIC_KEY
  STRIPE_SECRET_KEY: STRIPE_SECRET_KEY
  STRIPE_WEBHOOK_SECRET: STRIPE_WEBHOOK_SECRET
