apiVersion: v1
kind: Secret
metadata:
  name: env-secrets
type: Opaque
data:
  FRONTEND_URL: # doit être l'url de l'application frontend, dans le cas cluster, cas production -> https://revision-ai.com, cas kind local -> http://revision-ai.local
  JWT_SECRET: 
  MONGO_URI: 
  RESEND_API_KEY: 
  
  SCALEWAY_ACCESS_KEY_ID: 
  SCALEWAY_ACCESS_KEY: 
  SCALEWAY_BUCKET_NAME: 
  SCALEWAY_BUCKET_URL: 
  SCALEWAY_REGION: 
  SCALEWAY_IA_API_URL: 
  
  STRIPE_PUBLIC_KEY: 
  STRIPE_SECRET_KEY: 
  STRIPE_WEBHOOK_SECRET: 
  
  MATOMO_DATABASE_ADAPTER: 
  MATOMO_DATABASE_DBNAME: 
  MATOMO_DATABASE_HOST: 
  MATOMO_DATABASE_PASSWORD: 
  MATOMO_DATABASE_TABLES_PREFIX: 
  MATOMO_DATABASE_USERNAME: 
  
  GOOGLE_API_KEY: 
